pygame==2.6.1
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.10.2
astroid==3.3.11
colorama==0.4.6
dill==0.4.1
importlib_metadata==8.7.1
isort==6.1.0
mccabe==0.7.0
mutagen==1.47.0
platformdirs==4.4.0
pygame==2.6.1
pylint==3.3.9
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.10.2
tomli==2.4.1
tomlkit==0.15.1
typing_extensions==4.16.0
zipp==3.23.1
